[user]
	name = Elle
	email = teregc@hotmail.es
[core]
	editor = vim
[color]
	ui = true
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	st = status
	unstage = reset HEAD --
	cm = commit -m
	log1 = log --oneline
